

<!DOCTYPE html >
<html lang="en">
<head>
<meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
<body>
SVUCE, a constituent college of Sri Venkateswara University, Tirupati, was established in 1959 and started functioning from 10 August 1959.

The foundation stone for the college Main Building was laid on 13 October 1959 by Pandit Jawaharlal Nehru, the first Prime Minister of India. It was declared open on 21 November 1968 by Sri. K Brahmananda Reddy, the then Chief Minister of Andhra Pradesh.

From the year 1977-78, the names of BE and ME were changed as B.Tech and M.Tech. The institution achieved autonomous status in 2005.

SVU Secured 63rd Rank out of 100 Ranks, out of about 850 Central, State, Deemed, Private Universities, Central Institutions in India. S.V.University stands 13th position in Research Component.

S.V.University also stands 186th Rank in the BRICS World Ranking – 2016.
</body>
</html>